html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}


header,
main,
menu,
nav {
  display: block;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}


img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

code {
  font-family: monospace, monospace;
  font-size: 1em;
}

button {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@media print {

  *,
  *:before,
  *:after {
      background: transparent !important;
      color: #000 !important;
      box-shadow: none !important;
      text-shadow: none !important;
  }

  a,
  a:visited {
      text-decoration: underline;
  }

  a[href]:after {
      content: "("attr(href) ")";
  }

  
  img {
      page-break-inside: avoid;
  }

  img {
      max-width: 100% !important;
  }

  p,
  h2 {
      orphans: 3;
      widows: 3;
  }

  h2 {
      page-break-after: avoid;
  }
}

@font-face {
  font-display: swap;
  font-family: 'Glyphicons Halflings';
  src: url('../_ui/responsive/theme-alpha/fonts/glyphicons-halflings-regular.eot');
  src: url('../_ui/responsive/theme-alpha/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../_ui/responsive/theme-alpha/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../_ui/responsive/theme-alpha/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../_ui/responsive/theme-alpha/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../_ui/responsive/theme-alpha/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}


*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #ec7205;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #154259;
  text-decoration: underline;
}

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

img {
  vertical-align: middle;
}

[role="button"] {
  cursor: pointer;
}


.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}

@media(min-width:640px) {
  .container {
      width: 100%;
  }
}

@media(min-width:1024px) {
  .container {
      width: 1024px;
  }
}

@media(min-width:1400px) {
  .container {
      width: 1400px;
  }
}

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.nav>li {
  position: relative;
  display: block;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav>li>a:hover,
.nav>li>a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}

.nav>li>a>img {
  max-width: none;
}

@-webkit-keyframes progress-bar-stripes {
  from {
      background-position: 40px 0;
  }

  to {
      background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  from {
      background-position: 40px 0;
  }

  to {
      background-position: 0 0;
  }
}


.container:before,
.container:after,
.nav:before,
.nav:after {
  content: " ";
  display: table;
}


.container:after,
.nav:after {
  clear: both;
}

.show {
  display: block !important;
}

@-ms-viewport {
  width: device-width;
}

@media(max-width:639px) {
  .hidden-xs {
      display: none !important;
  }
}

@media(min-width:640px) and (max-width:1023px) {
  .hidden-sm {
      display: none !important;
  }
}

@media(min-width:1024px) and (max-width:1399px) {
  .hidden-md {
      display: none !important;
  }
}

@media(min-width:1400px) {
  .hidden-lg {
      display: none !important;
  }
}


button {
  font-weight: bold;
}

ul {
  padding-left: 15px;
}

a,
button {
  color: #ec7205;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

@media(max-width:1023px) {

  main {
      -webkit-transition: transform 0.3s ease-out;
      -o-transition: transform 0.3s ease-out;
      transition: transform 0.3s ease-out;
  }

  .container {
      width: 100%;
  }
}

@media(min-width:640px) {
  main {
      -webkit-transition: transform 0.3s ease-out;
      -o-transition: transform 0.3s ease-out;
      transition: transform 0.3s ease-out;
  }
}

header {
  background: #f8f8f8;
  margin-bottom: 20px;
}

@media(max-width:639px) {

  
  .banner__component {
      margin-left: -10px;
      margin-right: -10px;
  }
}


.banner__component a {
  display: block;
}


.banner__component img {
  width: 100%;
  height: auto;
}

@-moz-keyframes spin {
  100% {
      -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
      -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  100% {
      -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
      -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@media print {
  a[href]:after {
      content: "";
  }
}


header,
main,
menu,
nav {
  display: block;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}


img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

code {
  font-family: monospace, monospace;
  font-size: 1em;
}

button {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@media print {

  *,
  *:before,
  *:after {
      background: transparent !important;
      color: #000 !important;
      box-shadow: none !important;
      text-shadow: none !important;
  }

  a,
  a:visited {
      text-decoration: underline;
  }

  a[href]:after {
      content: "("attr(href) ")";
  }

  
  img {
      page-break-inside: avoid;
  }

  img {
      max-width: 100% !important;
  }

  p,
  h2 {
      orphans: 3;
      widows: 3;
  }

  h2 {
      page-break-after: avoid;
  }
}

@font-face {
  font-display: swap;
  font-family: 'Glyphicons Halflings';
  src: url('../_ui/responsive/theme-lambda/fonts/glyphicons-halflings-regular.eot');
  src: url('../_ui/responsive/theme-lambda/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../_ui/responsive/theme-lambda/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../_ui/responsive/theme-lambda/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../_ui/responsive/theme-lambda/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../_ui/responsive/theme-lambda/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}


*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #0068b3;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #003c66;
  text-decoration: underline;
}

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

img {
  vertical-align: middle;
}

[role="button"] {
  cursor: pointer;
}


ul {
  margin-top: 0;
  margin-bottom: 10px;
}

ul ul {
  margin-bottom: 0;
}

code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}

@media(min-width:640px) {
  .container {
      width: 100%;
  }
}

@media(min-width:1024px) {
  .container {
      width: 1024px;
  }
}

@media(min-width:1400px) {
  .container {
      width: 1400px;
  }
}

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.nav>li {
  position: relative;
  display: block;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav>li>a:hover,
.nav>li>a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}

.nav>li>a>img {
  max-width: none;
}

@-webkit-keyframes progress-bar-stripes {
  from {
      background-position: 40px 0;
  }

  to {
      background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  from {
      background-position: 40px 0;
  }

  to {
      background-position: 0 0;
  }
}


.container:before,
.container:after,
.nav:before,
.nav:after {
  content: " ";
  display: table;
}


.container:after,
.nav:after {
  clear: both;
}

.show {
  display: block !important;
}

@-ms-viewport {
  width: device-width;
}

@media(max-width:639px) {
  .hidden-xs {
      display: none !important;
  }
}

@media(min-width:640px) and (max-width:1023px) {
  .hidden-sm {
      display: none !important;
  }
}

@media(min-width:1024px) and (max-width:1399px) {
  .hidden-md {
      display: none !important;
  }
}

@media(min-width:1400px) {
  .hidden-lg {
      display: none !important;
  }
}


button {
  font-weight: bold;
}

ul {
  padding-left: 15px;
}

a,
button {
  color: #0068b3;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

@media(max-width:1023px) {

  main {
      -webkit-transition: transform 0.3s ease-out;
      -o-transition: transform 0.3s ease-out;
      transition: transform 0.3s ease-out;
  }

  .container {
      width: 100%;
  }
}

@media(min-width:640px) {
  main {
      -webkit-transition: transform 0.3s ease-out;
      -o-transition: transform 0.3s ease-out;
      transition: transform 0.3s ease-out;
  }
}

header {
  background: #f4f4f4;
  margin-bottom: 20px;
}

@media(max-width:639px) {

  
  .banner__component {
      margin-left: -10px;
      margin-right: -10px;
  }
}


.banner__component a {
  display: block;
}


.banner__component img {
  width: 100%;
  height: auto;
}

@-moz-keyframes spin {
  100% {
      -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
      -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  100% {
      -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
      -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@media print {
  a[href]:after {
      content: "";
  }
}


header,
main,
menu,
nav {
  display: block;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

code {
  font-family: monospace, monospace;
  font-size: 1em;
}

button {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@media print {

  *,
  *:before,
  *:after {
      background: transparent !important;
      color: #000 !important;
      box-shadow: none !important;
      text-shadow: none !important;
  }

  a,
  a:visited {
      text-decoration: underline;
  }

  a[href]:after {
      content: "("attr(href) ")";
  }

  
  img {
      page-break-inside: avoid;
  }

  img {
      max-width: 100% !important;
  }

  p,
  h2 {
      orphans: 3;
      widows: 3;
  }

  h2 {
      page-break-after: avoid;
  }
}

@font-face {
  font-display: swap;
  font-family: 'Glyphicons Halflings';
  src: url('../_ui/responsive/theme-corona/fonts/glyphicons-halflings-regular.eot');
  src: url('../_ui/responsive/theme-corona/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../_ui/responsive/theme-corona/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../_ui/responsive/theme-corona/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../_ui/responsive/theme-corona/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../_ui/responsive/theme-corona/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}


*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #0069b4;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #003c68;
  text-decoration: underline;
}

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

img {
  vertical-align: middle;
}

[role="button"] {
  cursor: pointer;
}

p {
  margin: 0 0 10px;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
}

ul ul {
  margin-bottom: 0;
}

code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}

@media(min-width:640px) {
  .container {
      width: 100%;
  }
}

@media(min-width:1024px) {
  .container {
      width: 1024px;
  }
}

@media(min-width:1400px) {
  .container {
      width: 1400px;
  }
}

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.nav>li {
  position: relative;
  display: block;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav>li>a:hover,
.nav>li>a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}

.nav>li>a>img {
  max-width: none;
}

@-webkit-keyframes progress-bar-stripes {
  from {
      background-position: 40px 0;
  }

  to {
      background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  from {
      background-position: 40px 0;
  }

  to {
      background-position: 0 0;
  }
}


.container:before,
.container:after,
.nav:before,
.nav:after {
  content: " ";
  display: table;
}


.container:after,
.nav:after {
  clear: both;
}

.show {
  display: block !important;
}

@-ms-viewport {
  width: device-width;
}

@media(max-width:639px) {
  .hidden-xs {
      display: none !important;
  }
}

@media(min-width:640px) and (max-width:1023px) {
  .hidden-sm {
      display: none !important;
  }
}

@media(min-width:1024px) and (max-width:1399px) {
  .hidden-md {
      display: none !important;
  }
}

@media(min-width:1400px) {
  .hidden-lg {
      display: none !important;
  }
}

button {
  font-weight: bold;
}

ul {
  padding-left: 15px;
}

a,
button {
  color: #0069b4;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

@media(max-width:1023px) {

  main {
      -webkit-transition: transform 0.3s ease-out;
      -o-transition: transform 0.3s ease-out;
      transition: transform 0.3s ease-out;
  }

  .container {
      width: 100%;
  }
}

@media(min-width:640px) {
  main {
      -webkit-transition: transform 0.3s ease-out;
      -o-transition: transform 0.3s ease-out;
      transition: transform 0.3s ease-out;
  }
}

header {
  background: #ffffff;
  margin-bottom: 20px;
}

@media(max-width:639px) {

  
  .banner__component {
      margin-left: -10px;
      margin-right: -10px;
  }
}


.banner__component a {
  display: block;
}


.banner__component img {
  width: 100%;
  height: auto;
}

@-moz-keyframes spin {
  100% {
      -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
      -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  100% {
      -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
      -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@media print {
  a[href]:after {
      content: "";
  }
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  src: url('../_ui/responsive/theme-corona/fonts/roboto-bold-webfont-webfont.eot');
  src: url('../_ui/responsive/theme-corona/fonts/roboto-bold-webfont-webfont.eot?#iefix') format('embedded-opentype'), url('../_ui/responsive/theme-corona/fonts/roboto-bold-webfont-webfont.woff2') format('woff2'), url('../_ui/responsive/theme-corona/fonts/roboto-bold-webfont-webfont.woff') format('woff'), url('../_ui/responsive/theme-corona/fonts/roboto-bold-webfont-webfont.ttf') format('truetype'), url('../_ui/responsive/theme-corona/fonts/roboto-bold-webfont-webfont.svg#robotobold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  src: url('../_ui/responsive/theme-corona/fonts/roboto-italic-webfont-webfont.eot');
  src: url('../_ui/responsive/theme-corona/fonts/roboto-italic-webfont-webfont.eot?#iefix') format('embedded-opentype'), url('../_ui/responsive/theme-corona/fonts/roboto-italic-webfont-webfont.woff2') format('woff2'), url('../_ui/responsive/theme-corona/fonts/roboto-italic-webfont-webfont.woff') format('woff'), url('../_ui/responsive/theme-corona/fonts/roboto-italic-webfont-webfont.ttf') format('truetype'), url('../_ui/responsive/theme-corona/fonts/roboto-italic-webfont-webfont.svg#robotoitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  src: url('../_ui/responsive/theme-corona/fonts/roboto-regular-webfont-webfont.eot');
  src: url('../_ui/responsive/theme-corona/fonts/roboto-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'), url('../_ui/responsive/theme-corona/fonts/roboto-regular-webfont-webfont.woff2') format('woff2'), url('../_ui/responsive/theme-corona/fonts/roboto-regular-webfont-webfont.woff') format('woff'), url('../_ui/responsive/theme-corona/fonts/roboto-regular-webfont-webfont.ttf') format('truetype'), url('../_ui/responsive/theme-corona/fonts/roboto-regular-webfont-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  src: url('../_ui/responsive/theme-corona/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  src: url('../_ui/responsive/theme-corona/fonts/Inter-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'RobotoLight';
  src: url('../_ui/responsive/theme-corona/fonts/RobotoLight.eot');
  src: url('../_ui/responsive/theme-corona/fonts/RobotoLight.eot?#iefix') format('embedded-opentype'), url('../_ui/responsive/theme-corona/fonts/RobotoLight.ttf') format('truetype'), url('../_ui/responsive/theme-corona/fonts/roboto-thin-webfont-webfont.svg#robotothin') format('svg');
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

[class^="icon-"],
[class*=" icon-"] {
  height: 32px;
  width: 32px;
  display: inline-block;
  fill: currentColor;
}

@media(max-width:639px) {

  
  .banner__component {
      margin-left: -15px;
      margin-right: -15px;
  }
}

@media(max-width:1040px) {
  .container {
      padding-left: 15px;
      padding-right: 15px;
  }
}

@media(min-width:1400px) {
  .container {
      width: 1380px;
  }
}

@media(min-width:1440px) {
  .container {
      width: 1400px;
  }
}

@supports(-ms-ime-align:auto) {
  min-height: 325px;
  max-height: 325px;
}

@supports(-ms-ime-align:auto) {
  min-height: 325px;
  max-height: 325px;
}

.coc-simple-banner {
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
}

@media(min-width:640px) {

  .coc-simple-banner {
      margin-left: 0;
      margin-right: 0;
  }
}

@keyframes busco__corona--loading {
  0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
  }

  100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
      opacity: 1;
  }

  100% {
      opacity: 0;
  }
}

@font-face {
  font-display: swap;
  font-family: 'lg';
  src: url("../_ui/responsive/theme-corona/fonts/lg.eot?n1z373");
  src: url("../_ui/responsive/theme-corona/fonts/lg.eot?#iefixn1z373") format("embedded-opentype"), url("../_ui/responsive/theme-corona/fonts/lg.woff?n1z373") format("woff"), url("../_ui/responsive/theme-corona/fonts/lg.ttf?n1z373") format("truetype"), url("../_ui/responsive/theme-corona/fonts/lg.svg?n1z373#lg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@-webkit-keyframes lg-right-end {
  0% {
      left: 0;
  }

  50% {
      left: -30px;
  }

  100% {
      left: 0;
  }
}

@-moz-keyframes lg-right-end {
  0% {
      left: 0;
  }

  50% {
      left: -30px;
  }

  100% {
      left: 0;
  }
}

@-ms-keyframes lg-right-end {
  0% {
      left: 0;
  }

  50% {
      left: -30px;
  }

  100% {
      left: 0;
  }
}

@keyframes lg-right-end {
  0% {
      left: 0;
  }

  50% {
      left: -30px;
  }

  100% {
      left: 0;
  }
}

@-webkit-keyframes lg-left-end {
  0% {
      left: 0;
  }

  50% {
      left: 30px;
  }

  100% {
      left: 0;
  }
}

@-moz-keyframes lg-left-end {
  0% {
      left: 0;
  }

  50% {
      left: 30px;
  }

  100% {
      left: 0;
  }
}

@-ms-keyframes lg-left-end {
  0% {
      left: 0;
  }

  50% {
      left: 30px;
  }

  100% {
      left: 0;
  }
}

@keyframes lg-left-end {
  0% {
      left: 0;
  }

  50% {
      left: 30px;
  }

  100% {
      left: 0;
  }
}


body.header-expanded {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
}

body.header-expanded .coc-header-overlay {
  opacity: 1;
  visibility: visible;
  z-index: 99;
  -webkit-transition: opacity .2s, visibility 0ms;
  -o-transition: opacity .2s, visibility 0ms;
  transition: opacity .2s, visibility 0ms;
}


.coc-header-overlay {
  background: rgba(0, 0, 0, 0.4);
  bottom: 0;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: -1;
  -webkit-transition: opacity .2s, visibility 0ms linear .2s;
  -o-transition: opacity .2s, visibility 0ms linear .2s;
  transition: opacity .2s, visibility 0ms linear .2s;
}

main {
  padding-top: 25px;
}

@-webkit-keyframes zoomIn {
  from {
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
  }

  to {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
  }
}

@-moz-keyframes zoomIn {
  from {
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
  }

  to {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
  }
}

@-ms-keyframes zoomIn {
  from {
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
  }

  to {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
  }
}

@-o-keyframes zoomIn {
  from {
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
  }

  to {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
  }
}

@keyframes zoomIn {
  from {
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
  }

  to {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
  }
}

@-webkit-keyframes coc-spin {
  0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  }

  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@-moz-keyframes coc-spin {
  0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  }

  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@-ms-keyframes coc-spin {
  0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  }

  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@-o-keyframes coc-spin {
  0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  }

  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@keyframes coc-spin {
  0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  }

  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@media(min-width:1024px) {
  .container {
      width: 98%;
  }
}

@media(min-width:1400px) {
  .container {
      width: 1400px;
  }
}

@-webkit-keyframes loading-text-opacity {
  0% {
      opacity: 0;
  }

  20% {
      opacity: 0;
  }

  50% {
      opacity: 1;
  }

  100% {
      opacity: 0;
  }
}

@-moz-keyframes loading-text-opacity {
  0% {
      opacity: 0;
  }

  20% {
      opacity: 0;
  }

  50% {
      opacity: 1;
  }

  100% {
      opacity: 0;
  }
}

@-ms-keyframes loading-text-opacity {
  0% {
      opacity: 0;
  }

  20% {
      opacity: 0;
  }

  50% {
      opacity: 1;
  }

  100% {
      opacity: 0;
  }
}

@-o-keyframes loading-text-opacity {
  0% {
      opacity: 0;
  }

  20% {
      opacity: 0;
  }

  50% {
      opacity: 1;
  }

  100% {
      opacity: 0;
  }
}

@keyframes loading-text-opacity {
  0% {
      opacity: 0;
  }

  20% {
      opacity: 0;
  }

  50% {
      opacity: 1;
  }

  100% {
      opacity: 0;
  }
}

.coc-nav {
  position: relative;
}

.coc-nav .coc-nav-top-actions {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 10px 0;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 1;
  -webkit-transition: opacity 0.4s, top 0.4s;
  -o-transition: opacity 0.4s, top 0.4s;
  transition: opacity 0.4s, top 0.4s;
}

.coc-nav .coc-nav_top {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 0;
  width: 100%;
}

.coc-nav .coc-nav_top .coc-logo .banner__component {
  margin: 0;
}

.coc-nav .coc-nav_top .coc-logo img {
  height: 64px;
  width: auto;
}

@media(min-width:1024px) {
  .coc-nav .coc-nav_top .coc-logo img {
      -webkit-transition: height 0.4s;
      -o-transition: height 0.4s;
      transition: height 0.4s;
  }
}

.coc-nav .coc-nav_top .coc-nav-icons {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  position: relative;
  z-index: 102;
  min-height: 60px;
  top: 5px;
}

.coc-nav .coc-nav_top .header-icon {
  color: #213c65;
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 15px;
  opacity: 1;
  position: relative;
  -webkit-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.coc-nav .coc-nav_top .header-icon:first-child {
  margin-left: 0;
}

.coc-nav .coc-nav_top .header-icon svg {
  fill: #213c65;
  stroke: #213c65;
}

.coc-nav .coc-nav_top .header-icon.account-icon-desktop {
  margin-left: 18px;
}

.coc-nav .coc-nav_top .coc-icon-hamburger button:active,
.coc-nav .coc-nav_top .coc-icon-hamburger button:focus {
  border: none;
  outline: none;
}

.coc-nav .coc-nav_top .coc-icon-hamburger .hamburger {
  padding: 0;
}

.coc-nav .coc-nav_top .coc-icon-hamburger .hamburger-box {
  width: 24px;
}

.coc-nav .coc-nav_top .coc-icon-hamburger .hamburger-inner {
  background-color: #213c65;
  width: 24px;
  height: 2px;
}

.coc-nav .coc-nav_top .coc-icon-hamburger .hamburger-inner:after,
.coc-nav .coc-nav_top .coc-icon-hamburger .hamburger-inner:before {
  background-color: #213c65;
  width: 24px;
  height: 2px;
}

.coc-header {
  border-bottom: 1px solid #d8d8d8;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 101;
  margin-bottom: 0;
}

.coc-header .coc-mega-menu {
  bottom: 0;
  background-color: white;
  min-height: 100vh;
  opacity: 0;
  padding: 70px 0 20px;
  position: fixed;
  right: -100%;
  top: 0;
  width: 75%;
  -webkit-transition: opacity 0.3s ease-out, right 0.4s ease-out;
  -o-transition: opacity 0.3s ease-out, right 0.4s ease-out;
  transition: opacity 0.3s ease-out, right 0.4s ease-out;
  z-index: 101;
}

.coc-header .coc-mega-menu .coc-mega-menu-items {
  color: black;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.coc-header .coc-mega-menu .coc-mega-menu-items a {
  color: #213c65;
}

.coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-item {
  background-color: #fcfcfc;
  border-bottom: 1px solid #d8d8d8;
  text-transform: uppercase;
}

.coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-item>.coc-single-menu-item {
  cursor: default;
}

.coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-item h4,
.coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-item a,
.coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-item>.coc-single-menu-item,
.coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-item h2,
.coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-item h1 {
  display: inline-block;
  padding: 20px;
  width: 100%;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  color: #213c65;
}

.coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-item.coc-menu-parent,
.coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-item.coc-mega-menu-back {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-item.coc-menu-parent .coc-menu-sub-action,
.coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-item.coc-mega-menu-back .coc-menu-sub-action {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px 0;
  width: 50px;
}

.coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-item.coc-menu-parent .coc-menu-sub-action .sub-action-icon,
.coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-item.coc-mega-menu-back .coc-menu-sub-action .sub-action-icon {
  border-left: 2px solid #d8d8d8;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px;
}

.coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-item.coc-menu-parent .coc-menu-sub-action svg,
.coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-item.coc-mega-menu-back .coc-menu-sub-action svg {
  height: 18px;
  width: 18px;
}

.coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-item:first-child:not(.coc-mega-menu-back) {
  border-top: 1px solid #d8d8d8;
}

.coc-header .coc-mega-menu .coc-mega-menu-items .coc-sub-menu {
  background-color: white;
  bottom: 0;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 70px 0 20px;
  position: fixed;
  right: -100%;
  top: 0;
  width: 75%;
  -webkit-transition: right 0.4s ease-out;
  -o-transition: right 0.4s ease-out;
  transition: right 0.4s ease-out;
  z-index: 100;
}

.coc-header.expanded .coc-mega-menu {
  right: 0;
  opacity: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-transition: opacity 0.3s ease-out, right 0.4s ease-out;
  -o-transition: opacity 0.3s ease-out, right 0.4s ease-out;
  transition: opacity 0.3s ease-out, right 0.4s ease-out;
}

.coc-header.expanded .coc-nav_top .header-icon:not(.coc-icon-hamburger) {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.coc-header.expanded .coc-menu-parent.expanded>.coc-sub-menu {
  right: 0;
  -webkit-transition: right 0.4s ease-out;
  -o-transition: right 0.4s ease-out;
  transition: right 0.4s ease-out;
}

.menu-tracker {
  pointer-events: none;
  display: none;
  bottom: 0;
  position: absolute;
  height: 2px;
  background-color: #0069b4;
  -webkit-transition: width 0.3s, left 0.3s;
  -o-transition: width 0.3s, left 0.3s;
  transition: width 0.3s, left 0.3s;
  z-index: 105;
}

.menu-tracker.active {
  display: block;
}

@media(min-width:1024px) {

  .menu-tracker {
      display: none;
      bottom: 0;
      position: absolute;
      height: 2px;
      background-color: #0069b4;
      -webkit-transition: width 0.3s, left 0.3s;
      -o-transition: width 0.3s, left 0.3s;
      transition: width 0.3s, left 0.3s;
  }

  .menu-tracker.active {
      display: block;
  }

  .coc-nav .coc-nav_top {
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
  }

  .coc-nav .coc-nav_top .coc-logo img {
      height: 104px;
      display: inline-block;
  }

  .coc-nav .first-level {
      opacity: 1;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
  }

  .coc-nav .coc-mega-menu-items .first-level:nth-child(6) {
      -webkit-transition: opacity 0.4s 0.36s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.4s 0.36s cubic-bezier(0.645, 0.045, 0.355, 1);
      -o-transition: opacity 0.4s 0.36s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.4s 0.36s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: opacity 0.4s 0.36s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.4s 0.36s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .coc-nav .coc-mega-menu-items .first-level:nth-child(5) {
      -webkit-transition: opacity 0.4s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.4s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      -o-transition: opacity 0.4s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.4s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: opacity 0.4s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.4s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .coc-nav .coc-mega-menu-items .first-level:nth-child(4) {
      -webkit-transition: opacity 0.4s 0.24s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.4s 0.24s cubic-bezier(0.645, 0.045, 0.355, 1);
      -o-transition: opacity 0.4s 0.24s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.4s 0.24s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: opacity 0.4s 0.24s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.4s 0.24s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .coc-nav .coc-mega-menu-items .first-level:nth-child(3) {
      -webkit-transition: opacity 0.4s 0.18s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.4s 0.18s cubic-bezier(0.645, 0.045, 0.355, 1);
      -o-transition: opacity 0.4s 0.18s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.4s 0.18s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: opacity 0.4s 0.18s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.4s 0.18s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .coc-nav .coc-mega-menu-items .first-level:nth-child(2) {
      -webkit-transition: opacity 0.4s 0.12s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.4s 0.12s cubic-bezier(0.645, 0.045, 0.355, 1);
      -o-transition: opacity 0.4s 0.12s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.4s 0.12s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: opacity 0.4s 0.12s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.4s 0.12s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .coc-nav .coc-mega-menu-items .first-level:nth-child(1) {
      -webkit-transition: opacity 0.4s 0.06s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.4s 0.06s cubic-bezier(0.645, 0.045, 0.355, 1);
      -o-transition: opacity 0.4s 0.06s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.4s 0.06s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: opacity 0.4s 0.06s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.4s 0.06s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .coc-header .coc-logo {
      width: 11%;
  }

  .coc-header .coc-mega-menu {
      background-color: transparent;
      height: auto;
      left: auto;
      min-height: auto;
      opacity: 1;
      padding: 0;
      position: relative;
      right: auto;
      width: 65%;
  }

  .coc-header .coc-mega-menu .coc-mega-menu-items {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: -ms-flex;
      display: flex;
      position: relative;
      margin: 0;
  }

  .coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-item {
      background-color: transparent;
      border: none;
  }

  .coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-item a,
  .coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-item h1 {
      line-height: 1.4rem;
  }

  .coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-item a,
  .coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-item .coc-single-menu-item {
      padding: 20px 20px;
  }

  .coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-item.coc-menu-parent .coc-menu-sub-action,
  .coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-item.coc-mega-menu-back .coc-menu-sub-action {
      display: none;
  }

  .coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-item:first-child,
  .coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-item:first-child:not(.coc-mega-menu-back) {
      border: none;
  }

  .coc-header .coc-mega-menu .coc-mega-menu-items .first-level a,
  .coc-header .coc-mega-menu .coc-mega-menu-items .first-level .coc-single-menu-item {
      padding: 20px 10px;
  }

  .coc-header .coc-mega-menu .coc-mega-menu-items .coc-sub-menu {
      visibility: hidden;
  }

  .coc-header .coc-nav-icons {
      width: 24%;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      top: 0;
  }

  .coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-desktop {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: white;
  }

  .coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-desktop .menu-item-list-wp {
      position: relative;
      padding: 20px 0;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: -ms-flex;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      width: 130%;
      background-color: white;
      border-bottom: 1px solid #d8d8d8;
  }

  .coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-desktop .menu-item-list-wp.menu-item-list-expanded {
      width: 150%;
      margin-left: -90px;
      text-align: left;
  }

  .coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-desktop .menu-item-list-wp .coc-menu-banner {
      background-color: white;
      position: relative;
      padding: 20px 20px 0;
  }

  .coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-desktop .menu-item-list-wp .coc-menu-banner a {
      padding-left: 0;
  }

  .coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-desktop .menu-item-list-wp .coc-menu-banner .coc-menu-banner_image {
      width: 230px;
      height: 150px;
      background-size: cover;
      background-repeat: no-repeat;
  }

  .coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-desktop .menu-item-list-wp .coc-menu-banner .coc-menu-banner_description {
      color: #2e384d;
  }

  .coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-desktop .menu-item-list-wp .coc-menu-banner .coc-menu-banner_cta {
      color: #0069b4;
  }

  .coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-desktop .menu-item-list-wp .coc-menu-banner .coc-menu-banner_cta,
  .coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-desktop .menu-item-list-wp .coc-menu-banner .coc-menu-banner_description {
      font-size: 1.4rem;
      margin-bottom: 0;
      margin-top: 10px;
      text-transform: none;
      padding: 0;
  }

  .coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-desktop .menu-item-list-wp .menu-item-list {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: -ms-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      position: relative;
      padding: 20px 0;
      width: 100%;
  }

  .coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-desktop .menu-item-list-wp .menu-item-list .coc-menu-item-desktop {
      width: 33%;
      margin-bottom: 30px;
      list-style: none;
      padding: 0 35px;
      border-right: 1px solid #d8d8d8;
  }

  .coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-desktop .menu-item-list-wp .menu-item-list .coc-menu-item-desktop:last-child {
      border-right: none;
  }

  .coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-desktop .menu-item-list-wp .menu-item-list .coc-menu-item-desktop:nth-child(2) {
      border-left: none;
      padding-left: 20px;
  }

  .coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-desktop .menu-item-list-wp .menu-item-list .coc-menu-item-desktop li {
      text-transform: capitalize;
  }

  .coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-desktop .menu-item-list-wp .menu-item-list .coc-menu-item-desktop li a {
      padding: 5px 0;
      line-height: 2rem;
      color: #2e384d;
  }

  .coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-desktop .menu-item-list-wp .menu-item-list .coc-menu-item-desktop li.highlighted a {
      color: #0069b4;
  }

  .coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-desktop .menu-item-list-wp .menu-item-list .coc-menu-item-desktop .view-all-node a {
      display: block;
      color: #0069b4;
  }

  .coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-desktop .menu-item-list-wp .menu-item-list .coc-menu-item-desktop .node-title a,
  .coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-desktop .menu-item-list-wp .menu-item-list .coc-menu-item-desktop .node-title span {
      display: block;
      color: #0069b4;
      height: 70px;
      text-transform: uppercase;
  }

  .coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-desktop .menu-item-list-wp .megamenu-side {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100vw;
      background-color: white;
      border-bottom: 1px solid #d8d8d8;
  }

  .coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-desktop .menu-item-list-wp .megamenu-side .megamenu-line {
      top: 10px;
  }

  .coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-desktop .menu-item-list-wp .megamenu-line {
      position: absolute;
      top: -10px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #d8d8d8;
  }

  .coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-desktop .menu-item-list-wp .megamenu-side-right {
      left: 100%;
  }

  .coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-desktop .menu-item-list-wp .megamenu-side-left {
      right: 100%;
  }

  .coc-header .coc-mega-menu .coc-mega-menu-items .first-level .coc-single-menu-item {
      cursor: pointer;
  }

  .coc-header .coc-mega-menu .coc-mega-menu-items .first-level.active .coc-mega-menu-desktop {
      display: block;
  }

  
  .menu-dropdown {
      position: absolute;
      top: 100%;
      padding: 20px 0 0;
      z-index: 104;
      display: none;
  }

  
  .menu-dropdown ul {
      list-style: none;
      margin: 0;
      padding-left: 0;
  }

  
  .menu-dropdown ul a {
      color: #2e384d;
      font-size: 14px;
      white-space: nowrap;
      padding: 10px 20px;
  }

  .menu-dropdown {
      left: 20px;
      top: 100%;
      padding-bottom: 0;
      padding-top: 11px;
      text-transform: capitalize;
  }

  .menu-dropdown ul {
      border-radius: 3px;
      background-color: white;
      -webkit-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
      min-width: 153px;
      padding: 20px 0;
  }

  .menu-dropdown ul li.highlighted a {
      color: #0069b4;
  }

  .coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-item .menu-dropdown a {
      padding: 10px 20px;
  }

  .relative-node {
      position: relative;
  }

  .relative-node:hover .menu-dropdown {
      display: block;
  }

  .account-icon-desktop a {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: -ms-flex;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: flex-end;
        text-decoration: none;
        column-gap: 8px;
  }

  .account-icon-desktop a .account-pre-text {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: -ms-flex;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: right;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      position: relative;
      top: -4px;
  }

  .account-icon-desktop a .account-pre-text span {
      font-size: 10px;
      color: #213c65;
  }

  .account-icon-desktop a .account-pre-text span.coc-account-highlighted {
      font-size: 16px;
      line-height: 16px;
  }
}

@media(min-width:1024px) and (min-width:1400px) {
  .coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-desktop .menu-item-list-wp .menu-item-list .coc-menu-item-desktop {
      width: 20%;
  }
}

@media(min-width:1024px) and (max-width:1399px) {
  .coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-desktop .menu-item-list-wp .menu-item-list .md-no-border {
      border-right: none;
  }

  .coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-desktop .menu-item-list-wp .menu-item-list .md-no-left-border {
      border-left: none;
      padding-left: 20px;
  }
}

@media(min-width:1024px) and (min-width:1400px) {
  .coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-desktop .menu-item-list-wp .menu-item-list .lg-no-border {
      border-right: none;
  }

  .coc-header .coc-mega-menu .coc-mega-menu-items .coc-mega-menu-desktop .menu-item-list-wp .menu-item-list .lg-no-left-border {
      border-left: none;
      padding-left: 20px;
  }
}

@media(min-width:1400px) {

  .coc-nav .coc-nav_top .coc-nav-icons {
      width: 24%;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
  }

  .coc-nav .coc-nav_top .coc-nav-icons .account-icon-desktop {
      margin-left: 15px;
  }

  .coc-header .coc-logo {
      width: 8%;
  }

  .coc-header .coc-mega-menu {
      width: 60%;
  }

  .coc-header .coc-mega-menu .coc-mega-menu-items .first-level a,
  .coc-header .coc-mega-menu .coc-mega-menu-items .first-level .coc-single-menu-item {
      padding: 20px 20px;
  }
}

.coc-top-menu-links {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}

.coc-top-menu-links a {
  color: #2e384d;
  font-size: 14px;
  opacity: 0.5;
  padding: 0 10px;
}

.coc-top-menu-links a:last-child {
  opacity: 1;
  padding-right: 30px;
}

.coc-country-selector {
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin-top: 20px;
}

.coc-country-selector a,
.coc-country-selector img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.coc-country-selector a:focus {
  outline: none;
  outline-offset: 0;
  text-decoration: none;
}

.coc-country-selector .country-select-arrow {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.coc-country-selector .coc-selected-country {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: -ms-inline-flex;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.coc-country-selector .coc-country-selected-option,
.coc-country-selector .coc-country-option {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  padding: 5px 20px;
}

.coc-country-selector .coc-country-selected-option img,
.coc-country-selector .coc-country-option img {
  width: 13px;
  height: 13px;
}

.coc-country-selector .coc-country-selected-option span,
.coc-country-selector .coc-country-option span {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.coc-country-selector .coc-country-selected-option .coc-country-name,
.coc-country-selector .coc-country-option .coc-country-name {
  margin-left: 10px;
  color: #213c65;
}

.coc-country-selector .coc-country-selector-options {
  position: absolute;
  display: none;
  top: 100%;
  right: 0;
  width: 100%;
  z-index: 9999;
  border-bottom: 1px solid #d8d8d8;
  background-color: #ffffff;
}

.coc-country-selector.countries-expanded .coc-country-selector-options {
  display: block;
}

.coc-country-selector.countries-expanded .country-select-arrow {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

@media(min-width:1024px) {
  .coc-country-selector {
      margin-top: 0;
  }

  .coc-country-selector .coc-country-selected-option {
      padding: 0;
  }

  .coc-country-selector .coc-country-selected-option a {
      display: none;
  }

  .coc-country-selector .coc-country-selected-option .coc-country-name {
      margin: 0;
  }

  .coc-country-selector .coc-country-option {
      padding-left: 0;
  }

  .coc-country-selector .coc-country-selector-options {
      width: auto;
  }
}

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: opacity 0.15s linear, filter 0.15s linear;
  -o-transition: opacity 0.15s linear, filter 0.15s linear;
  transition: opacity 0.15s linear, filter 0.15s linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000000;
  border-radius: 4px;
  position: absolute;
  -webkit-transition: transform 0.15s ease;
  -o-transition: transform 0.15s ease;
  transition: transform 0.15s ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--spring .hamburger-inner {
  top: 2px;
  -webkit-transition: background-color 0s 0.13s linear;
  -o-transition: background-color 0s 0.13s linear;
  transition: background-color 0s 0.13s linear;
}

.hamburger--spring .hamburger-inner::before {
  top: 10px;
  -webkit-transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring .hamburger-inner::after {
  top: 20px;
  -webkit-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring.is-active .hamburger-inner {
  -webkit-transition-delay: 0.22s;
  -moz-transition-delay: 0.22s;
  -ms-transition-delay: 0.22s;
  -o-transition-delay: 0.22s;
  transition-delay: 0.22s;
  background-color: transparent !important;
}

.hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  -webkit-transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
  -ms-transform: translate3d(0, 10px, 0) rotate(45deg);
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  -webkit-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: translate3d(0, 10px, 0) rotate(-45deg);
  -ms-transform: translate3d(0, 10px, 0) rotate(-45deg);
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}


ul>ul {
  display: block;
}

@keyframes zoomin {
  0% {
      transform: scale(1);
  }

  100% {
      transform: scale(1.25);
  }
}

@keyframes coverimage {
  0% {
      max-height: 56px;
  }

  100% {
      max-height: auto;
  }
}
/* 
section {
  width: 100%;
  height: 100vh;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  font-size: 18px;
  background: #fff;
  overflow: hidden;
}
.slide-image {
  position: absolute;
  top: -200px;
  left: -200px;
  width: calc(100% + 400px);
  height: calc(100% + 400px);
  background-position: 50% 50%;
  background-size: cover;
}
.slide-title {
  font-size: 4rem;
  line-height: 1;
  max-width: 50%;
  white-space: normal;
  word-break: break-word;
  color: #FFF;
  z-index: 100;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}
@media (min-width: 45em) {
  .slide-title {
    font-size: 7vw;
    max-width: none;
  }
}
.slide-title span {
  white-space: pre;
  display: inline-block;
  opacity: 0;
}

.slideshow {
  position: relative;
}
.slideshow-pagination {
  position: absolute;
  bottom: 5rem;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: 0.3s opacity;
  z-index: 10;
}
.slideshow-pagination-item {
  display: flex;
  align-items: center;
}
.slideshow-pagination-item .pagination-number {
  opacity: 0.5;
}
.slideshow-pagination-item:hover, .slideshow-pagination-item:focus {
  cursor: pointer;
}
.slideshow-pagination-item:last-of-type .pagination-separator {
  width: 0;
}
.slideshow-pagination-item.active .pagination-number {
  opacity: 1;
}
.slideshow-pagination-item.active .pagination-separator {
  width: 10vw;
}
.slideshow-navigation-button {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 5rem;
  z-index: 1000;
  transition: all 0.3s ease;
  color: #FFF;
}
.slideshow-navigation-button:hover, .slideshow-navigation-button:focus {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
}
.slideshow-navigation-button.prev {
  left: 0;
}
.slideshow-navigation-button.next {
  right: 0;
}

.pagination-number {
  font-size: 1.8rem;
  color: #FFF;
  font-family: "Oswald", sans-serif;
  padding: 0 0.5rem;
}

.pagination-separator {
  display: none;
  position: relative;
  width: 40px;
  height: 2px;
  background: rgba(255, 255, 255, 0.25);
  transition: all 0.3s ease;
}
@media (min-width: 45em) {
  .pagination-separator {
    display: block;
  }
}
.pagination-separator-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  transform-origin: 0 0;
} */